
 <app-navbar></app-navbar>

<br>
<br>

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">


      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Localidad:</h4>
              <p>Malvinas Argentinas 1063, Villa Ramalo, Buenos Aires, Argentina</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>rubenmontes58@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Tel:</h4>
              <p>+54 3407466001</p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.3311642594053!2d-60.0601086849596!3d-33.492760107070666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b9e36dd3084ffd%3A0x52601e0626849105!2sMalvinas%20Argentinas%201063%2C%20Villa%20Ramallo%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1665101423696!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

          <div>
          
              <app-footer></app-footer>
          </div>



