
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">MIS FIGUS</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="../auth" class="nav-link " aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="../productos" class="nav-link">Mi Stock de Figus</a></li>
        <li class="nav-item"><a routerLink="../album" class="nav-link ">Álbum</a></li>
        <li class="nav-item"><a routerLink="../contacto" class="nav-link ">Contacto</a></li>

        <li class="nav-item"><a class="nav-link active"*ngIf="auth.user$ | async as user">
          <li>Logueado como {{ user.email }}</li></a></li>

        
        <li class="nav-item"><a routerLink="
          #"(click)="logout()" class="nav-link">Cerrar Sesión</a></li>
      </ul>
    </header>
  </div>

